// ---------------------------------------------------------------------------
// -----------------------------COLORS--------------------------------
// ---------------------------------------------------------------------------

$color1 : #FFF;
$color2 : #D92E9D;
$color3 : #13626F;
$color4 : #14AFE4;
$color5 : #F7E629;
$color6 : #0090BD;
$color7 : #14B1CE;

// ---------------------------------------------------------------------------
// -----------------------------WIDTHS--------------------------------
// ---------------------------------------------------------------------------

$mobile : 600px;
$tablet : 768px;
$tabletHD : 900px;
$desktop : 1024px;
$desktopHd : 1280px;
$desktopHd2 : 1440px;
$desktopHd3 : 1660px;
$desktopFullHd : 1920px;


// ---------------------------------------------------------------------------
// ------------------------------FONTS----------------------------------
// ---------------------------------------------------------------------------

$opensans : 'Open Sans', sans-serif;
